<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924861521725-lbn87h8m9hecl6nunllbvpub9ovnqfcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924861521725-lbn87h8m9hecl6nunllbvpub9ovnqfcd</string>
	<key>API_KEY</key>
	<string>AIzaSyDw-Y9Slqcyl4ILruvJUfu-chxBRprJJoc</string>
	<key>GCM_SENDER_ID</key>
	<string>924861521725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practica1</string>
	<key>PROJECT_ID</key>
	<string>practica-1-86462</string>
	<key>STORAGE_BUCKET</key>
	<string>practica-1-86462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924861521725:ios:f04be8c9d3dc83ae55af54</string>
</dict>
</plist>